# place in ~/.config/autostart
[Desktop Entry]
Name=Launch Script on Desktop
Exec=/bin/sh -c "python /home/$USER/CycOwl/realStartup.py"
Hidden=false
Terminal=true
Type=Application
