# place in ~/.config/autostart
[Desktop Entry]
Name=Launch Script on Desktop
Exec=/bin/sh -c "python3.6 /home/$USER/CycOwl/detection/speech_distance_detection.py"
Hidden=false
Terminal=true
Type=Application
